/* Стили для навигационной плашки сверху */
.navbar {
    font-family: 'GeistVF';
    background: #757575; /* темно-серый фон */
}
.navbar .container {
    display: flex;
    align-items: center;
}
.navbar-brand {
    color: #ffffff; /* логотип остаётся слева */
    cursor: pointer;
}
.navbar-nav {
    margin-left: auto; /* сдвигаем навигационные кнопки вправо */
    display: flex;
}
.nav-link {
    color: #ffffff; /* белые буквы */
    cursor: pointer;
    margin-right: 1em;
}
.nav-link:hover {
    background: #ffffff;
    color: #f97300;
}
.navbar-toggler {
    background: #444444 !important;
}


/* Остальные стили остаются без изменений */

/* Центрируем знак плюса по вертикали и горизонтали */
.plus-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Растягиваем на всю высоту экрана */
}

/*Шрифтики*/
@font-face {
    font-family: 'GeistVF';
    src: url('/static/fonts/GeistVF.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GeistMonoVF';
    src: url('/static/fonts/GeistMonoVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.body {
    background: #c5cae9;
    font-family: 'GeistMonoVF', sans-serif;
    padding-top: 70px; 
}

/* Общие стили для ячеек с камерами */
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Размер видеопотока */
    width: 300px;
    border: 2px solid #ddd;
    overflow: hidden;
}

/* Пустая центральная ячейка */
.emptycell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

/* Стили для изображений */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
