/* Центрируем знак плюса по вертикали и горизонтали */
.plus-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Растягиваем на всю высоту экрана */
}

/* Общие стили для ячеек с камерами */
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Размер видеопотока */
    width: 300px;
    border: 2px solid #ddd;
    overflow: hidden;
}

/* Пустая центральная ячейка */
.emptycell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

/* Стили для изображений */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
