<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Камеры</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Четыре видеопотока</h1>
    <div class="video-container">
        <div><img src="/video_feed/0" alt="Camera 1"></div>
        <div><img src="/video_feed/1" alt="Camera 2"></div>
        <div><img src="/video_feed/2" alt="Camera 3"></div>
        <div><img src="/video_feed/3" alt="Camera 4"></div>
    </div>
</body>
</html>
